.contact-btns{margin-top:10px;margin-bottom:10px;}
.contact-btns .first{margin-bottom:5px;}
.nav-wrapper{min-height:50px;}
.k-logo{height:70px;}
@media only screen and (max-width:1200px){.k-logo{height:60px;}
}
@media only screen and (max-width:1080px){.k-logo{height:55px;}
}
@media only screen and (max-width:440px){.k-logo{height:50px;}
}
@media only screen and (max-width:400px){.k-logo{height:45px;}
}
@media only screen and (max-width:375px){.k-logo{height:40px;}
}
@media only screen and (max-width:335px){.k-logo{height:35px;}
}
.hero{background-image:linear-gradient(rgba(13, 71, 161, 0.7), rgba(13, 71, 161, 0.7)), url(../img/hero.jpg);background-position:top center;background-size:cover;}
.hero-text{margin:0 auto;padding-top:10%;padding-bottom:10%;}
.balloon-wrapper{margin:0 auto;}
.icon-ballon{border-radius:50%;width:125px;height:125px;margin:0 auto;}
.icon-ballon i{margin:0 auto;}
.title h5{margin:0 auto;}
.balloon-section{padding-top:20px;}
.b-container{margin:0 auto;max-width:1280px;width:100%;}
@media only screen and (min-width:601px){.container{width:85%;}
}
@media only screen and (min-width:993px){.container{width:70%;}
}
.bio-image{background-image:url(../img/scalehammer.jpg);background-position:top center;background-size:cover;}
.card-p{margin-top:0.5em;margin-bottom:0.5em;}
.img-container{width:100%;height:100%;}
.courthouse-img{max-width:100%;}
.bubble h4, .bubble h5{margin-top:0;}
#contact-logo{width:100px;margin-top:50px;}
.tabs-section{background-image:url("../img/books.jpg");background-repeat:no-repeat;background-size:100% auto;background-position:top left;}
.about-section{background-image:url(../img/pillars.jpg);background-repeat:no-repeat;background-size:100% auto;background-position:top left;}
@media only screen and (min-width:660px){.profile-pic{margin-top:1.5em;margin-left:0;}
}
.contact-section{background-image:url("../img/scale.jpg");background-repeat:no-repeat;background-size:100% auto;background-position:top left;}
.contact-img{border-radius:50%;margin-top:10%;margin-right:auto;margin-left:auto;}
@media only screen and (max-width:785px){.contact-img{margin-top:15%;}
}
@media only screen and (max-width:575px){.contact-img{margin-top:25%;}
}
@media only screen and (max-width:420px){.contact-img{margin-top:40%;}
}